@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
  }
   :root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }



 /* Start Header */
.header {
    background-color: white;
    position: fixed;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    width: 100%;
    
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    direction: rtl;
  }
  .header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    .header .logo {
      width: 100%;
      height: 50px;
    }
  }
  .header .main-nav {
    display: flex;
  }
  @media (max-width: 767px) {
    .header .main-nav {
      margin: auto;
    }
  }

 .header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
    
  } 
  @media (max-width: 767px) {
    .header .main-nav > li > a {
      padding: 10px;
      font-size: 14px;
      height: 40px;
    }
  }
    .header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
  } *
  .header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
  }
  .header .main-nav > li > a:hover::before {
    left: 0;
  }  

  @media (max-width: 767px) {
    .header .mega-menu {
      flex-direction: column;
      gap: 0;
      padding: 5px;
    }
  }
  .header .mega-menu .image img {
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .header .mega-menu .image {
      display: none;
    }
  }
  .header .mega-menu .links {
    min-width: 250px;
    flex: 1;
  }
  .header .mega-menu .links li {
    position: relative;
  }
  .header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
  }
  @media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
      border-bottom: 1px solid #e9e6e6;
    }
  }


  /* End Header */


















/* start main*/
section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
     display: flex;
    align-items: center;
    background: url(img2/hazemwalid.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.8em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 2.3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}






.main-btn{

    color: rgb(3, 74, 141);
    background-color: transparent;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid rgb(102, 171, 250);
    position: relative;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    margin-bottom: 40px;
}


.main-btn:hover{
    background-color: #f0f0f0;
    color: black;
    transition: 1s ease;
}



.main-btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50px;
    background: transparent;
    height: 50%;
    width: 100%;
    transform: perspective(1em)
    rotatex(40deg) scale(1,0.35);
    filter: blur(8px);
    transition: 1s ease;
}


.main-btn:hover::before{
    background: #585656;
    top: 70px;
}


.social-icons-main  a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.social-icons a{
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}



.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 16em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    
}



.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.4em;
    font-weight: 700;
    margin: 10px;
}

.info p{
    font-size: 1.2em;
    line-height: 1.5em;
}

.projects {
    background-color: #000016;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
   
}


.card-con{
  background-color: #fff;
  width: 21.5em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
}

.card-con .icon{
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}

 .info2 p{
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
} 

.info2 h3{
  color: #3a6cf4;
  font-size: 1.4em;
  font-weight: 700;
  margin: 10px;
  text-align: center;
}



.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 1.2em;
    color: rgb(2, 48, 109);
    text-align: center;
}



.more-details {
    text-decoration: none;
    color: #3a6cf4;
    font-size: 1.3em;
}

.student-projects{
  display: block;
  text-decoration: none;
  color: #3a6cf4;
  font-size: 1.3em;
}


.student-projects:hover{
  color: #601cfc;
}

.more-details:hover {
    color: #601cfc;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.8em;
}



.price{
  font-size: 1.2em;
  color: #1d09cf;
  font-weight: bold;
}




.title {
  margin: 0 auto 80px;
  border: 2px solid rgb(137, 150, 184);
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
   color: #3a6cf4;
   font-weight: bold;
   display: flex;
}
.title::before,
.title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
} 
 .title::before {
  left: -30px;
}
.title::after {
  right: -30px;
}







/* Start  num*/
 .num {
     padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative; 
    background-size: cover;
    min-height: 300px;
    
   
  }

   .num .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   
   }
 
  .num .box {
    background-color: white;
    padding: 30px 5px;
    text-align: center;
    position: relative;
    opacity: 0.8;
    transition: var(--main-transition);
  }
   .num .box::before,
  .num .box::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--main-color);
    transition: 1s;
    height: 0;
  } 
   .num .box::before {
    top: 0;
    right: 0;
  } 
  .num .box::after {
    left: 0;
    bottom: 0;
  }
  .num .box:hover {
    opacity: 1;
  }
  .num .box:hover::before,
  .num .box:hover::after {
    height: 100%;
  }
  .num .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .num .box .text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
  }

   .box i{
    font-size: 35px;
   }
  /* End Stats */












.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){


    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){

    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }

    .card {
      width: 21.25em;
    }

    .stats h2{
      font-size: 25px;
    }



  .social-icons a{
      font-size: 1em;
      padding-right: 10px;
}


.footer {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}

.footer-title {
  font-size: 0.9em;
  font-weight: 400;
}



.footer .social-icons a{
  font-size: 1em;
  padding: 0 12px 0 0;
}




@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
  }